#!/bin/bash -eux

case $ARCH in
{%- for image in images %}
            {{ image['image']['arch'] }}) ;;
{%- endfor %}
            *) echo "{{ title }} images are only supported for {{ arches }}";
               exit 0;;
esac

mountpoint=${1}

mkdir -p {{ mountpoint }}

cleanup() {
    umount_disk_image {{ mountpoint }}
    rm -rf {{ mountpoint }}
}
trap "cleanup" EXIT

